body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

header {
  background: url('http://i.telegraph.co.uk/multimedia/archive/02134/surf-wave_2134340b.jpg') center, center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 523px;
  position: relative;
}


header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 125, 230, 0.8);
}


/* Position these to bring them above overlay */

nav, h1, h4 {
  position: relative;
}


nav {
  max-width: 1018px;
  margin: 0 auto;
  padding-right: 2.7504912%;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

.logo-container {
  float: left;
  margin-top: 6px;
  margin-left: 14px;
}

.logo-container h2 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  vertical-align: middle;
  margin-top: 10.5px;
  letter-spacing: 0.4px;
  position: relative;
  left: 3;
  bottom: 1;
  font-weight: lighter;
}

.logo-container img {
  vertical-align: middle;
}

.header-links {
  float: right;
  list-style: none;
  letter-spacing: 0.5px;
}

.header-links li {
  display: inline-block;
  padding-right: 12px;
}

.header-links li img {
  vertical-align: bottom;
  margin-right: -5px;
}

/*.header-links li span {
  display: inline-block;
  line-height: 26px;
  vertical-align: middle;
}*/

.logo-head {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 65px;
  letter-spacing: -3px;
  margin-bottom: 0;
}

h4 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: -16px;
  font-size: 15px;
  font-weight: lighter;
  padding-right: 1px;
  letter-spacing: 0.2px;

}

.blog-container {
  margin-top: -15px;
  margin-left: 164px;
  width: 600px;
}

h3 {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 64px;
  color: #003354;
  letter-spacing: -1.9px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.subhead {
  margin-top: -24px;
  letter-spacing: -1.4px;
}
